.container {
  /* min-height: 100vh; */
  padding: 0 0.5rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
}

.main {
  padding: 5rem 5rem;
}

.footer {
  width: 100%;
  padding: 0px 130px 50px 130px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev{

  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer; 
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}
.prev:hover {
  background-color: #e7e7e7;
}
.next{

  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer; 
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.next:hover {
  background-color: #e7e7e7;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: auto auto auto; */
  row-gap: 20px;
  column-gap: 20px;

}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
